<!DOCTYPE html>
<html>
<head>
    <title>EasyProc: Login</title>
</head>
<body>
    <h1>EasyProc: Login</h1>
    <form action="/login" method="post" enctype="multipart/form-data">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>

        <label for="image">Upload Face Image:</label>
        <input type="file" id="image" name="image"><br>

        <input type="submit" value="Login">
    </form>
</body>
</html>
